# App
HTTP_PORT=8080
ENV=local

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=tires_shop
POSTGRES_SSLMODE=disable

JWT_SECRET=my-super-secret-key-for-development
TELEGRAM_BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefg