# App
HTTP_PORT=8083
ENV=local

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=tires_shop
POSTGRES_SSLMODE=disable

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin_tires
MINIO_SECRET_KEY=super_secret_password
MINIO_BUCKET_NAME=tires-shop
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_USE_SSL=false

JWT_SECRET=my-super-secret-key-for-development
TELEGRAM_BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefg

GOOGLE_SPREADSHEET_ID=1ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890