version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: tires_shop_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tires_shop
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Визуальный интерфейс для базы (открой http://localhost:5050)
  pgadmin:
    image: dpage/pgadmin4
    container_name: tires_shop_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: